table {
  text-align: center;
  background-color: rgb(50, 50, 50);
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
}

th, td {
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
}

p {
  margin: 0;
}

#top-section {
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-color: yellow;
}

#middle-filter-container {
  text-align: center;
  margin-bottom: 20px;
}

#middle-filter-container h1 {
  font-size: xx-large;
  color: yellow;
}

#column-sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
}

#filters {
  background-color: cyan;
  display: flex;
}

.filter-card {
  margin: 0px 5px;
}